/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Sedgwick+Ave+Display|Walter+Turncoat|Rock+Salt');

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
	overflow: hidden;
}

.wall {
	background-image: url(../img/brick2.jpg);
	background-position: fixed;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}



/* 2. Content ================================= */

p.tag {
	position: absolute;
	font-family: 'Rock Salt', cursive;
	font-size: 4em;
	text-shadow: 0 0 10px rgba(0,0,0,0.75), 0 5px 20px rgba(0,0,0,0.75);;
}