/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Sedgwick+Ave+Display|Walter+Turncoat|Rock+Salt|Short+Stack|Raleway');

$primary-dark: #2b2d31;
$primary-light: white;
$accent-light: #B94F5D;

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
	overflow: hidden;
}

h1{
	font-size: 2.4rem;
	text-align: center;
	margin-bottom: 5px;
}

.index{
	font-family: Raleway;
	background: url(../img/indexbg.png);
	height: 100vh;
}

.wall{
	background-image: url(../img/brick2.jpg);
	background-position: fixed;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}


/* 2. Content ================================= */

/*Wall.html*/
p.tag {
	position: absolute;
	font-family: 'Rock Salt', cursive;
	font-size: 4em;
	text-shadow: 0 0 10px rgba(0,0,0,0.75), 0 5px 20px rgba(0,0,0,0.75);
}

.buttons-row{
	background: rgba(0,0,0,0.5);background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 33%, rgba(0,0,0,0.17) 82%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 33%,rgba(0,0,0,0.17) 82%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 33%,rgba(0,0,0,0.17) 82%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding: 10px 0px;
	z-index: 30;
    position: relative;
}

.button {
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 2px solid black;
    border-radius: 8px;
    background: #ff4a4a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff4a4a), to(#992727));
    background: -moz-linear-gradient(top, #ff4a4a, #992727);
    background: linear-gradient(to bottom, #ff4a4a, #992727);
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
	text-decoration: none;
	z-index: 5;
	
	&:hover,
	&:focus {
		background: #ff5959;
		background: -webkit-gradient(linear, left top, left bottom, from(#ff5959), to(#b62f2f));
		background: -moz-linear-gradient(top, #ff5959, #b62f2f);
		background: linear-gradient(to bottom, #ff5959, #b62f2f);
		color: #ffffff;
		text-decoration: none;
	}
	
	&:active {
    background: #982727;
    background: -webkit-gradient(linear, left top, left bottom, from(#982727), to(#982727));
    background: -moz-linear-gradient(top, #982727, #982727);
    background: linear-gradient(to bottom, #982727, #982727);
	}

	&:before{
		content:  "\0000a0";
		display: inline-block;
		height: 24px;
		width: 24px;
		line-height: 24px;
		margin: 0 4px -6px -4px;
		position: relative;
		top: 0px;
		left: 0px;
		background-size: 100% 100%;
	}
}

.write{
	margin-left: 35%;
	&:before{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABOUlEQVRIie3WwSsEYRzG8U/UhuQsycEf4OSgbdu2TQ5kcyJL/hsHZ/kbnLTtUZKzJLRnSZuDJEdSyuF9J9OUrJlx85zmfead7/x+zzvv2wwrRxPYwCqmcYd3GCoBXsVNhI9iEz3Ml8BWwwuWM/660MV4UfgDTtBBJXO/i3beiGo4xBZW8BbHI6k515jNC++jkfIa+MCRr04OsZ0H/pCBJ95ihHawhFvh6/oVPFt54jXjuIJjYeHrReHVWHkzMy/b4UDw72L5yRsI/lMsaXjaywX/j+VvY1nA0wCgXHDCNu/jHK0IKCUWwiH1hBlhy5/hNV4Xrjx5uJfxTrFWBhx2cZDxFoW46nLGktaFcEA1Ut4U7vGsQOUwKeTfii/Zx1UEd4V4CqktLOgjLrEnVDxWFJxoDjvC70bp+gQDq16NrMR/awAAAABJRU5ErkJggg==") no-repeat left center transparent;
	}
}

.refresh{
	margin-left: 5px;
	&:before{
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABp0lEQVRIicXVvUpcURQF4G/MZQqLYGHewCKE1GLlE0iQIJIyWFjkTabyGSwsUicvYGEhEtImpJDByirIkAyIk5tin+u9M54rnMGQBac5P3vttf8O/xjPCu8PMcCfp3JgiH18xBg3aX3HMXZRLWv8DS5Rd9YUvzDr7P1IRF1UOMN5zvAKRh0jF/iAl1jDc2zgIJ01REcdNavJkTpHMEoHE7xPhH2ocJiU1TgRYe0leJs8n2DrEcOL2MbPZPAT1nMEQ5HIWsgvxSau0/szrap7vEsbXyxfGa9xZb4w7rEjZO4VGGyqpe5bXU8/4wXuCr2+w+/M/gq+DQqN5VCJ/OUIbgfpcCjf/rfKFT3AV22HLq5T5Ql/oKY3QSKBJQR7olB2+giuRKktg0qUeC1Kfo5gqi23a9E0pThI78cWwlSLeK+LNq+FzO0C41tivMzEuJlDQ7CamE+0qg49noNKDMRJejPKXeoSNI+OtHm5EPI3xKhewysxwpuYz5Lx7OQ9l6+WXfGZNESz5MjUfGFcis9pKVSJ6Fh8kzciHGPxje7Ld/HS6BsL/w9/AaiAk3gMSsHGAAAAAElFTkSuQmCC") no-repeat left center transparent;
	}
}

.form-container{
	margin: 0 auto;
    transform: translateY(30%);
	max-width: 640px;
	background: $primary-light;
	display: flex;
	flex-direction: column;
	border: 2px solid black;
}

.form-header{
	padding: 20px;
	color: $primary-light;
	background: $accent-light;
}

form{
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-bottom: 20px;

	.float-label-container{
		display: flex;
		flex-direction: column-reverse;
	}

	label{
		font-size:1.6rem;
		line-height: 1rem;
		font-weight: 300;
		color: $primary-dark;
		margin-top: 20px;
		transform: translateY(1.6rem);
		transition: 0.3s;
	}

	input[type="text"]{
		border: none;
		outline: none;
		padding: 6px;
		font-size: 1.6rem;
		border-bottom: 2px solid $primary-dark;
		transition: 0.3s;
		
		&:focus{
			border-color: $accent-light;
		}

		&:valid, &:focus{

			+ label{
				font-size: 1rem;
				transform: translateY(0);
			}
		}
	}

	.colors{
		display: flex;
		justify-content: center;
		margin-top: 20px;

		label{
			@extend label;
			margin-top: 0px;
		}

		input[type="color"] {
			margin-left: 10px;
			width: 150px;
			height: 50px;
		}
	}
}

.btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 10px 15px;
	border: 1px solid #943f4a;
	border-radius: 8px;
	background: #f16779;
	background: -webkit-gradient(linear, left top, left bottom, from(#f16779), to(#943f4a));
	background: -moz-linear-gradient(top, #f16779, #943f4a);
	background: linear-gradient(to bottom, #f16779, #943f4a);
	text-shadow: #5d282f 1px 1px 1px;
	font: normal normal bold 20px arial;
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;

	&:hover,
	&:focus {
		border: 1px solid #b94f5d;
		background: #ff7c91;
		background: -webkit-gradient(linear, left top, left bottom, from(#ff7c91), to(#b24c59));
		background: -moz-linear-gradient(top, #ff7c91, #b24c59);
		background: linear-gradient(to bottom, #ff7c91, #b24c59);
		color: #ffffff;
		text-decoration: none;
	}

	&:disabled{
		background: #ff7c91;
	}

	&:active {
		background: #943f4a;
		background: -webkit-gradient(linear, left top, left bottom, from(#943f4a), to(#943f4a));
		background: -moz-linear-gradient(top, #943f4a, #943f4a);
		background: linear-gradient(to bottom, #943f4a, #943f4a);
	}

	&:before{
		content:  "\0000a0";
		display: inline-block;
		height: 24px;
		width: 24px;
		line-height: 24px;
		margin: 0 4px -6px -4px;
		position: relative;
		top: 0px;
		left: 0px;
		background-size: 100% 100%;
	}	
}

.tagit {
    &:before{
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABJklEQVRIieXUIUsEQRiH8R+HiBjEIAYxiIiIiEGMfgYxmowGgxgvCX4Ck/gpDGK4D2AWOcwiIof5MF5Yw+zBss66O+s2/zBhGXieed95Z/nPmcUNXjHAQZfwOdwhK6wJTroS9EvwouS4C8G80JaY5AsrbcHnuEJPaFOV5KwN/FBoQZZLqK4kWbCHcQlSJXnBYgp8FaPIKaeSYruGWE6BL+CpAh6rZCkFPoP7GnhZ8iO9XwTXwsU2SVLPCePY5OQZHoTfRuMUx7FuPQv31DixcaxaI2HCkvLYED7GfiocNvBeA5/gKBV8iu2Gkos2J78UerqVf2+Kv97bNvCpIMNHDidU9FmADySOY0xQluzkkqEWj6lKkAl3sJ7v7WLtL/CYIMNbQdI638uCorlXUnDBAAAAAElFTkSuQmCC") no-repeat left center transparent;
	}
}

.viewit{
	&:before{
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABsUlEQVRIie3UMWtUQRQF4M9lERELWXSREIKIRbCySiGiFmIlVmLlT0gVxEJE8CekkCAWKUUCgqiIWAQRQQgWVmohIiEakBgsRMISnsXcSWafb7NrKznwYO6dc87cee/exy7+e+wZst/BRZzFZMTwAx/wEk8i/iccxzx+oyqezVpcBWc+NEOxFzfxq2byCVcxgdsNh1ShuREejTiIF4XhQqw/oospzEVcN18ITYXn4fWX+VIQ7uMAXkd8AeewMaDyCq9C8yDipfKQNp7Fxp2IxZV/Yj8e72CeX0/2movc0+w1E4lHaBW36oXwElaGHNArdO2ioBlYD4OOfjS960HP+5q2g29Yb2E1EkdrpIdGR517TPoGq6SPuCl1QbcgHcLyCNUvBzejG149nM/JW0F+h7GCfFK66iDzleBkjIVHFZ5baGE2Nj7jdE10D2uF8Rru1oo5gy+xP6u/YbYOuRZX60ntNl7s75MmeSLWGePBzbrrTeYlpmwP3YbUctPSsE3iRKynpV7PA/g2tCOhjctYjKp26v9FXLE9oH0Y9ruGIzgV1R+O3Hfpd/0GX0eteheN+AN+hK+rqn3BzgAAAABJRU5ErkJggg==") no-repeat left center transparent;
	}
}

.form-buttons{
	margin-left: calc(50% - 20%);
	padding: 10px 0px;
}

.modal-wrapper {
	display: none;
  }
  
.modal-wrapper.is-visible {
	display: block;
}
  
.modal-overlay {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .75);
	z-index: 100;
}
  
.is-visible .modal-overlay {
	transition: .5s;
}
  
.is-closing .modal-overlay {
	transition: .5s;
}
  
.modal-content {
	position: absolute;
	background: white;
	z-index: 101;
	width: 400px;
	height: 300px;
	border-radius: 20px;
	padding: 20px;
	left: calc(50% - 200px);
	top: calc(50% - 150px);
}


